	
:root {
	--pink: #f14e95; 
	--bg: #000; 
	--shadow: 0 2px 2px rgba(0,0,0,0.5);
	}

body{ 
font-size: 1.2rem; 
font-family: "EB Garamond", serif;
min-height: 2000px;
}

.hero{
top:0;
left:0;
width:100%;
height:100%;
background-image: url('kucing.jpeg');
background-size:cover;
background-position:center;
z-index:-1;
filter:greyscale:100%;
}

.hero{
min-height:100vh;
}

.hero h1{
font-family: "EB Garamond", serif;
font-size: 3rem;
}

.hero h4{
font-size: 2rem;
}

.hero p{
font-size:1.5rem;
}

.hero a{
color:var(--pink);
background-color: white;
}

.hero a:hover{
background-color:var(--pink);
color: white;
}

.home{
background-image:url('awe.jpeg');
background-size:cover;
min-height:100vh;
}

.home h1{
font-size:5rem;
}

.home h2{
font-size:3rem;
}

.home h3{
font-size:2rem;
}

.home h4{
dont-size:5rem;
color:var(--pink);
}

.home p{
font-size:4rem;
}

.waktu{
width:100%;
display:flex;
justify-content:space-between;
margin-top:10px;
margin-bottom:20px;
}

.waktukedua{
width:50px;
background:rgba(0,0,0,1);
border-radius:10px;
overflow:hidden;
}

.digit{
font-style:italic;
color:#fff;
background:#000;
text-align:center;
font-size:1rem;
}

.digit_name{
font-style:oblique;
color:#000;
background:#fff;
text-align:center;
font-size:1rem;
}


        .modal {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            font-size: 24px;
            text-align: center;
        }
        .audio-control {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background-color: #fff;
            border: none;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .audio-control img {
            width: 24px;
            height: 24px;
        }

/* Media query */

/* laptop */

@media (max-width:992px){
html{font-size:75%;}
}

/* tablet */

@media (max-width:768px){
html{font-size:62.5%;}
}

/* mobile phone */

@media (max-width:576px){
html{font-size:40%;}
}